@model USF_Health_MVC_EF.Models.Individual

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SpStudies spStudies = new SpStudies();
    SpReferences spReferences = new SpReferences();

}



<div class="div_breadcrumb">
    Persons&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Individuals&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Details
</div>
<div class="div_form">
    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Individual Id
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_id)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Date created
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_date_created)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            First name
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_first_name)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Last name
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_last_name)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Gender
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_gender)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Reference ID
        </div>
        <div class="div_text">
            @spReferences.GetReferenceNamebyId(Model.ref_id)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Study ID
        </div>
        <div class="div_text">
            @spStudies.GetStudyNamebyId(Model.std_id)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            USF ID
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_document)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Email
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_email)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Phone
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_phone)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Individual Details
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.ind_details)
        </div>
    </div>

</div>
<div class="div_mainlink">
    <a asp-action="Edit" asp-route-id="@Model.ind_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
