@model IEnumerable<USF_Health_MVC_EF.Models.SpIndividualsSamples>

@{
    ViewData["Title"] = "Reports - Individuals Batch Printing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SpIndividualsSamples> spIndividualsSamplesSelected = ViewBag.is_list_selected as List<SpIndividualsSamples>;

}
<div class="div_breadcrumb">
    Reports&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Individuals Batch Printing
</div>




<script type="text/javascript">

    alert(statusFinal);
    $(document).ready(function () {
        $('#example').DataTable({
            columnDefs: [{
                targets: [0],
                orderData: [0, 1]
            }, {
                targets: [1],
                orderData: [1, 0]
            }, {
                targets: [4],
                orderData: [4, 0]
            }]
        });
    });


</script>



<div class="div_form">

    <input type="hidden" id="ssn_id" value="@ViewBag.ssn_id" />

    <form id="frmForm">

        <div class="div_text">
            Sample ID
        </div>

        <div class="div_input">
            <input type="text" id="txtSampleID" placeholder="Enter Sample ID" onkeydown="handle(event, document.getElementById('txtSampleID').value, 1)" autofocus />
        </div>
        <div class="div_button">
            <input type="submit" id="btnInclude" value="Include" onclick="handle(event, document.getElementById('txtSampleID').value, 1)" onsubmit="this.disabled = true;this.value='Submitting...';this.form.submit();" />
        </div>


        <div class="div_text">
            Sample ID (Selected for printing)
        </div>
        <div class="div_dropdownlist">
            <select id="cboSamplesSelected">
                <option value="" disabled selected>--Select Sample ID--</option>

                @*@if (ViewBag.is_list_selected != null)
                    {*@
                @foreach (var item in spIndividualsSamplesSelected)
                {
                    <option value="@item.is_id">@item.is_id | @item.is_barcode | @item.is_date_collected_text </option>

                }
                @*  *@}

            </select>
        </div>

        <div class="div_button">
            <input type="submit" id="btnRemove" value="Remove" onclick="handle(event, document.getElementById('cboSamplesSelected').options[document.getElementById('cboSamplesSelected').selectedIndex].value, 2)" onsubmit="this.disabled = true;this.value='Submitting...';this.form.submit();" />
        </div>

        <div class="div_label" style="width:500px;">
            <label id="lblStatus"></label>
        </div>

        <div class="div_label" style="width:500px;">
            <label id="lblCount"></label>
        </div>

        @*<div class="div_label" style="width:800px;">
            <label id="lblSeparator"></label>
        </div>*@

    </form>
</div>

<div class="div_mainlink">
    <a asp-action="Print" asp-route-ssn_id="@ViewBag.ssn_id">Print</a>
</div>

@*<div class="div_mainlink">
        <a asp-action="Index">Back to List</a>
    </div>*@


<script type="text/javascript">

    function handle(e, id, operation) {


        if (e.keyCode === 13 || e.target.id == 'btnInclude' || e.target.id == 'btnRemove') {

            if (document.getElementById('frmForm').checkValidity()) {
                e.preventDefault();
                ReportsIndividualsBatchPrinting(id, operation);
            }
        }
    }


    function ReportsIndividualsBatchPrinting(id, operation) {

        if (operation == 1 && document.getElementById('txtSampleID').value == '') {
            document.getElementById('lblStatus').hidden = false;
            document.getElementById('lblStatus').style.color = "green";
            document.getElementById('lblStatus').textContent = 'A sample ID must be entered';
            return;
        }
        else if (operation == 2 && document.getElementById('cboSamplesSelected').selectedIndex == 0) {
            document.getElementById('lblStatus').hidden = false;
            document.getElementById('lblStatus').style.color = "green";
            document.getElementById('lblStatus').textContent = 'A sample ID must be selected';
            return;
        }

        var status;

        if (operation == null) {
            status = '';
        }
        else if (operation == 1) {
            status = 'If sample ID ' + id + ' exists, it was included in the printing list.';
        }
        else if (operation == 2) {
            status = 'Sample ID ' + id + ' was removed from the printing list.';
        }

        window.location.href = '@Url.Action("Index", "ReportsIndividualsBatchPrinting")?id=' + id + '&operation=' + operation + '&status=' + status ;
    }
</script>

<script type="text/javascript">


    const params = new URLSearchParams(window.location.search);
    const operation = params.get('operation');
    const id = params.get('id');
    const status = params.get('status');


    if (operation == null) {
        document.getElementById('lblStatus').hidden = true;
        document.getElementById('lblCount').hidden = true;

    } else if (operation == 1 || operation == 2) {
        document.getElementById('lblStatus').hidden = false;
        document.getElementById('lblCount').hidden = false;
        document.getElementById('lblStatus').style.color = "green";
        document.getElementById('lblStatus').textContent = status;
        document.getElementById('lblCount').style.color = "green";
        document.getElementById('lblCount').textContent = 'Samples count: ' + (document.getElementById('cboSamplesSelected').length - 1);
    }

</script>




<script type="text/javascript">

    $('form').submit(function () {
        $(this).find('input[type=submit]').prop('disabled', true);
        return true;
    });

    $("#btnInclude").focus();

</script>


<script type="text/javascript">
    $("#txtSampleID").focus();
</script>