@model USF_Health_MVC_EF.Models.IndividualSample   

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SpIndividuals SpIndividuals = ViewData["SpIndividuals"] as SpIndividuals;

}
<div class="div_breadcrumb">
    Persons&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Samples&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Delete
</div>
<div class="div_form">
    <div class="div_text">
        Are you sure you want to delete this barcode?
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Sample Id
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.is_id)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Sample Barcode
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.is_barcode)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Date of creation
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.is_date_created)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Date collected
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.is_date_collected)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Date registered
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.is_date_registered)
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Well number
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.is_well_number)
        </div>
    </div>
    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Pool ID
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.poo_id)
        </div>
    </div>

    @*  <div class="div_labeltext">
             <div class="div_label" style="float:left;">
                 Individual ID
             </div>
             <div class="div_text">
                 @SpIndividuals.ind_id
             </div>
         </div>

        <div class="div_labeltext">
             <div class="div_label" style="float:left;">
                 First Name
             </div>
             <div class="div_text">
                 @SpIndividuals.ind_first_name
             </div>
         </div>

         <div class="div_labeltext">
             <div class="div_label" style="float:left;">
                 Last Name
             </div>
             <div class="div_text">
                 @SpIndividuals.ind_last_name
             </div>
         </div>*@

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Reference ID
        </div>
        <div class="div_text">
            @SpIndividuals.ref_name
        </div>
    </div>


    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Study ID
        </div>
        <div class="div_text">
            @SpIndividuals.std_name
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Gender
        </div>
        <div class="div_text">
            @SpIndividuals.ind_gender
        </div>
    </div>

    <div class="div_labeltext">
        <div class="div_label" style="float:left;">
            Sample details
        </div>
        <div class="div_text">
            @Html.DisplayFor(model => model.is_details)
        </div>
    </div>

    @*<div class="div_labeltext">
            <div class="div_label" style="float:left;">
                USF ID
            </div>
            <div class="div_text">
                @SpIndividuals.ind_document
            </div>
        </div>*@


    <form asp-action="Delete">
        <input type="hidden" asp-for="is_id" />
        <div class="div_button">
            <input type="submit" value="Delete" id="btnSubmit" style="background-color: #bd2130;" onsubmit="this.disabled=true;this.value='Submitting...'; this.form.submit();" />
        </div>
    </form>
</div>
<div class="div_mainlink">
    <a asp-action="Index" asp-route-search="@Context.Request.Query["search"].ToString()">Back to List</a>
</div>

<script type="text/javascript">

            $('form').submit(function () {
                $(this).find('input[type=submit]').prop('disabled', true);
                return true;
            });

            $("#btnSubmit").focus();

</script>