@model IEnumerable<USF_Health_MVC_EF.Models.SpIndividualsSamplesWithStats>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.17/jquery.jeditable.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $('#example').DataTable({
            columnDefs: [{
                targets: [0],
                orderData: [0, 1]
            }, {
                targets: [1],
                orderData: [1, 0]
            }, {
                targets: [4],
                orderData: [4, 0]
            }]
        });
    });




</script>

<div class="div_breadcrumb">
    Persons&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Samples
</div>


@using (Html.BeginForm("Index", "PersonSamples", FormMethod.Post))
{
    <div class="div_datatables">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <td>
                        Sample ID
                    </td>
                    <td>
                        Barcode
                    </td>
                    <td>
                        Date created
                    </td>
                    <td>
                        Date collected
                    </td>
                    <td>
                        Date registered
                    </td>
                    <td>
                        Sample details
                    </td>
                    <td>
                        Well number
                    </td>
                    <td>
                        Pool ID
                    </td>
                    <td>
                        Reference ID
                    </td>
                    <td>
                        Study ID
                    </td>
                    @*<td>
            Individual ID
        </td>
        <td>
            First Name
        </td>
        <td>
            Last Name
        </td>*@
                    <td>
                        Gender
                    </td>
                    @*<td>
            USF ID
        </td>*@


                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_id, new { htmlAttributes = new { @id = "is_id_" + item.is_id } })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_barcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_date_created_text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_date_collected_text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_date_registered_text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_details)
                    </td>
                    <td style="background-color:yellow;" id="is_well_number_td_@item.is_id" onkeydown="handle(event,'is_well_number_td_@item.is_id','is_well_number_editor_@item.is_id','is_well_number_display_@item.is_id','is_well_number_txtEditor_@item.is_id','is_well_number_txtDisplay_@item.is_id',@item.is_id)" ondblclick="edit('is_well_number_td_@item.is_id','is_well_number_editor_@item.is_id','is_well_number_display_@item.is_id','is_well_number_txtEditor_@item.is_id','is_well_number_txtDisplay_@item.is_id',@item.is_id)">
                        <div id="is_well_number_editor_@item.is_id" style="display:none;">
                            @Html.EditorFor(modelItem => item.is_well_number, new { htmlAttributes = new { @class = "form-editor", @id = "is_well_number_txtEditor_" + item.is_id } })
                        </div>
                        <div id="is_well_number_display_@item.is_id">
                            @Html.DisplayFor(modelItem => item.is_well_number, new { htmlAttributes = new { @id = "is_well_number_txtDisplay_" + item.is_id } })
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.poo_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ref_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.std_name)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.ind_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ind_first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ind_last_name)
        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ind_gender)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.ind_document)
        </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.is_id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.is_id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.is_id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    function edit(tdID, editorID, displayID, txtEditorID, txtDisplayID, is_id) {


        if (document.getElementById(editorID).style.display == 'none') {
            document.getElementById(editorID).style.display = 'block';
            document.getElementById(displayID).style.display = 'none';

            document.getElementById(txtEditorID).value = document.getElementById(displayID).innerHTML.trim();

            document.getElementById(txtEditorID).focus();
            document.getElementById(txtEditorID).select();
        }
        else if (document.getElementById(displayID).style.display == 'none') {
            
            UpdateWellNumber(is_id, document.getElementById(txtEditorID).value, txtEditorID, displayID);
            document.getElementById(displayID).style.display = 'block';
            document.getElementById(editorID).style.display = 'none';
            
        }
    }

    function handle(e, tdID, editorID, displayID, txtEditorID, txtDisplayID, is_id) {

        if (e.keyCode === 13) {
            e.preventDefault();
            edit(tdID, editorID, displayID, txtEditorID, txtDisplayID, is_id);

        } else if (e.keyCode === 27) {
            e.preventDefault();
            document.getElementById(displayID).style.display = 'block';
            document.getElementById(editorID).style.display = 'none';
        }
    }

</script>


<script type="text/javascript">


    function UpdateWellNumber(id, value, txtEditorID, displayID) {
    $.ajax({
    url: '@Url.Action("UpdateWellNumber")',
    type: 'GET',
    dataType: 'text',
    cache: false,
        data: { 'id': id, 'value': value},
        success: function (results) {
            document.getElementById(txtEditorID).value = value;
            document.getElementById(displayID).innerHTML = value;
    },
    error: function () {
        alert('Error occured');
    }
    });
    }


</script>