@model IEnumerable<USF_Health_MVC_EF.Models.SpIndividualsSamples>

@{
    ViewData["Title"] = "Reports - Individuals Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SpPools> spPools = ViewData["pools"] as List<SpPools>;
}
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" runat=server>

<div class="div_breadcrumb">
    Reports&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Individuals Samples
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#example').DataTable({
            columnDefs: [{
                targets: [0],
                orderData: [0, 1]
            }, {
                targets: [1],
                orderData: [1, 0]
            }, {
                targets: [4],
                orderData: [4, 0]
                }],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                },

                'copy', 'csv', 'excel', 'print'
            ]
        });
    });

</script>



<div class="div_form" style="width:80%">

    <form id="frmForm">
        <div>
            <div style="float: left;  width:30%;">
                <div class="div_text">
                    Sample Date Start
                </div>
                <div class="div_input">
                    <input type="date" id="txtDateStart" required />
                </div>

                <div class="div_text">
                    Sample Date End
                </div>
                <div class="div_input">
                    <input type="date" id="txtDateEnd" required />
                </div>

                <div class="div_button">
                    <input type="submit" id="btnSubmit" value="Search" onclick="handle(event,document.getElementById('txtDateStart').value, document.getElementById('txtDateEnd').value, document.getElementById('ddlPoolResult').options[document.getElementById('ddlPoolResult').selectedIndex].value, document.getElementById('ddlPoolID').options[document.getElementById('ddlPoolID').selectedIndex].value, document.getElementById('ddlPoolResult').selectedIndex, document.getElementById('ddlPoolID').selectedIndex, document.getElementById('ddlPoolResult').options[document.getElementById('ddlPoolResult').selectedIndex].text, document.getElementById('ddlPoolID').options[document.getElementById('ddlPoolID').selectedIndex].text);" />
                </div>

                <div class="div_label" style="width:800px;">
                    <label id="lblStatus"></label>
                </div>
                <div class="div_label" style="width:800px;">
                    <label id="lblPoolResultStatus"></label>
                </div>
                <div class="div_label" style="width:800px;">
                    <label id="lblPoolIDStatus"></label>
                </div>
                <div class="div_label" style="width:800px;">
                    <label id="lblSeparator"></label>
                </div>
            </div>
            <div style="float: left;  width:10%;">
                <div class="div_text">
                    AND
                </div>
            </div>
            <div style="float: left; width:30%;">
                <div class="div_text">
                    Pool Result
                </div>
                <div class="div_dropdownlist">
                    <select id="ddlPoolResult">
                        <option value="A">All Results</option>
                        <option value="P">Positive (P)</option>
                        <option value="N">Negative (N)</option>
                        <option value="U">Pools w/ No Result / Samples w/ No Pool</option>
                    </select>
                </div>
            </div>
            <div style="float: left;  width:10%;">
                <div class="div_text">
                    AND
                </div>
            </div>
            <div style="float: right; width:20%;">
                <div class="div_text">
                    Pool ID
                </div>
                <div class="div_dropdownlist">
                    <select id="ddlPoolID">
                        <option value="0" selected>All Pools</option>
                        @foreach (var item in spPools)
                        {
                            <option value="@item.poo_id">@item.poo_id</option>

                        }
                    </select>
                </div>
            </div>

        </div>
</form>
</div>


@using (Html.BeginForm("Index", "PersonSamples", FormMethod.Post))
{
    <div class="div_datatables">

        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <td>
                        Sample ID
                    </td>
                    <td>
                        Barcode
                    </td>
                    <td>
                        Pool ID
                    </td>
                    <td>
                        Pool Details
                    </td>
                    <td>
                        Date of creation
                    </td>
                    <td>
                        Date of collection
                    </td>
                    <td>
                        Date registered
                    </td>
                    <td>
                        Sample Details
                    </td>
                    <td>
                        Pool Results
                    </td>
                    <td>
                        Pool CT Value
                    </td>
                    <td>
                        Reference ID
                    </td>
                    <td>
                        Study ID
                    </td>
                    <td>
                        Gender
                    </td>

                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_id, new { htmlAttributes = new { @id = "is_id_" + item.is_id } })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_barcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.poo_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.poo_details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_date_created_text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_date_collected_text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_date_registered_text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pr_result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pr_ct_value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ref_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.std_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ind_gender)
                    </td>
                    <td>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>}




<script type="text/javascript">

    function handle(e, dateStart, dateEnd, poolResult, PoolID, poolResultSelected, poolIDSelected, poolResultStatus, poolIDStatus) {


        if (e.keyCode === 13 || e.target.id == 'btnSubmit') {
            if (document.getElementById('frmForm').checkValidity()) {
                e.preventDefault();
                ReportsPersonSamples(dateStart, dateEnd, poolResult, PoolID, poolResultSelected, poolIDSelected, poolResultStatus, poolIDStatus);
            }
        }
    }


    function ReportsPersonSamples(dateStart, dateEnd, poolResult, PoolID, poolResultSelected, poolIDSelected, poolResultStatus, poolIDStatus) {
        window.location.href = '@Url.Action("Index", "ReportsIndividualsSamples")?type=1&datestart=' + dateStart + '&dateend=' + dateEnd + '&poolResult=' + poolResult + '&poolID=' + PoolID + '&poolResultSelected=' + poolResultSelected + '&poolIDSelected=' + poolIDSelected + '&status=Sample Dates: from ' + dateStart + ' to ' + dateEnd + '&poolResultStatus=' + poolResultStatus + '&poolIDStatus=' + poolIDStatus;
    }
</script>

<script type="text/javascript">

    const params = new URLSearchParams(window.location.search);
    const type = params.get('type');
    const status = params.get('status');
    const poolResultStatus = params.get('poolResultStatus');
    const poolIDStatus = params.get('poolIDStatus');
    const dateStart = params.get('datestart');
    const dateEnd = params.get('dateend');
    const poolResultSelected = params.get('poolResultSelected');
    const poolIDSelected = params.get('poolIDSelected');

    if (type == null) {
        document.getElementById('lblStatus').hidden = true;
    } else if (type == 0) {
        document.getElementById('lblStatus').hidden = false;
        document.getElementById('lblStatus').style.color = "green";
        document.getElementById('lblStatus').textContent = status
    } else if (type == 1) {
        document.getElementById('txtDateStart').value = dateStart;
        document.getElementById('txtDateEnd').value = dateEnd;
        document.getElementById('ddlPoolResult').selectedIndex = poolResultSelected;
        document.getElementById('ddlPoolID').selectedIndex = poolIDSelected;

        document.getElementById('lblStatus').hidden = false;
        document.getElementById('lblStatus').style.color = "green";
        document.getElementById('lblStatus').textContent = status

        document.getElementById('lblPoolResultStatus').hidden = false;
        document.getElementById('lblPoolResultStatus').style.color = "green";
        document.getElementById('lblPoolResultStatus').textContent = 'Pool Result: '+ poolResultStatus

        document.getElementById('lblPoolIDStatus').hidden = false;
        document.getElementById('lblPoolIDStatus').style.color = "green";
        document.getElementById('lblPoolIDStatus').textContent = 'Pool ID: ' + poolIDStatus


    }

</script>

<script type="text/javascript">

    $('form').submit(function () {
        $(this).find('input[type=submit]').prop('disabled', true);
        return true;
    });

    $("#btnSubmit").focus();

</script>


<script type="text/javascript">
    $("#txtBarcode").focus();
</script>